<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container #swiper>
    <swiper-slide>
      <ion-button  fill="outline" (click)="scan()" size="large" shape="round">
        Scan Code
      </ion-button>
    </swiper-slide>
  </swiper-container>


</ion-content>
